extends ../layout/main

block content
  section.about
    .about__container.container
      h2.heading-primary.about__heading About Me
      p.paragraph.paragraph--abstract.about__abstract "A journey of a thousand miles begins with a single step" - Lao Tzu

      figure.about__artwork-container
        img.about__artwork(src=`/src/img/color-themes/green/developer-activity.svg`)/

      .about__intro
        h3.heading-secondary My Story
        .white-box
          p.paragraph
            | I do not have a degree in computer science or information technology like the majority of coders.
            | .
          p.paragraph Nulla est elit, feugiat et lacinia nec, aliquam sit amet est. Ut in consequat ipsum, in sagittis felis.
          p.paragraph Phasellus arcu mauris, fermentum ac dui quis, blandit pharetra orci. lacus et eros suscipit malesuada. Suspendisse hendrerit leo vitae. Sed in ipsum porttitor. Pellentesque sollicitudin pharetra.

      //.about__education
      //  h3.heading-secondary Experience

      //.about__experience
      //  h3.heading-secondary Education
