extends ../../layout/main

mixin filterButton(label, name)
  .filter__item-container
    input.filter__input(type="checkbox", id=`${name}`, name=`${name}`)/
    label.filter__item(for=`${name}`) #{label}

block content
  -
    self.portfolio = [{
      topic: 'NodeJS',
      heading: 'Natours',
      excerpt: 'A tour booking app built with NodeJS Express and Pug templating system',
      date: '11/11/2019',
      imgUrl: '/src/img/sitting-lake.jpg'
    }, {
      topic: 'ReactJS',
      heading: 'CRWN Clothing',
      excerpt: 'An online clothing store built with React and NodeJS Express',
      date: '27/11/2021',
      imgUrl: '/src/img/clothing-store.jpg'
    }, {
      topic: 'Javascript',
      heading: 'Forkify',
      excerpt: 'A recipe finding web app built with vanilla Javascript',
      date: '22/11/2021',
      imgUrl: '/src/img/cooking.jpg'
    }]


  section.portfolio
    .portfolio__container.container
      h2.heading-primary.portfolio__heading Portfolio️
      //p.paragraph.paragraph--abstract.portfolio__abstract
      //  | I learn by doing

      // PORTFOLIO FILTER
      form.portfolio__filter.filter.filter__list
        +filterButton('React', 'react')
        +filterButton('NextJS', 'nextjs')
        +filterButton('NodeJS', 'nodejs')
        +filterButton('ExpressJS', 'expressjs')
        +filterButton('MongoDB', 'mongodb')
        +filterButton('GraphQL', 'graphql')
        +filterButton('Headless CMS', 'headless-cms')
        +filterButton('HTML5 & CSS3', 'html5-css3')

      // PORTFOLIO_LIST
      .portfolio__list
        each project in self.portfolio
          +card(project, true, 'portfolio__item')

      .portfolio__pagination
        +pagination(3, 5)
