.heading-primary {
  font-size: 4.4rem;
  font-weight: 900;
  color: var(--color-gray);
  margin-bottom: 4rem;
}

.heading-secondary {
  font-size: 2.5rem;
  color: var(--color-gray);
  margin-bottom: 4rem;
  display: flex;
  align-items: center;

  border-left: 0.4rem solid var(--color-light);
  padding-left: 2rem;
}

.paragraph {
  font-size: 1.6rem;
  color: var(--color-gray-lighter);
  line-height: 1.6;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &--abstract {
    font-size: 2rem;
  }
}
